
body
{
    margin: 0;
}

.container{
    display: grid;
    grid-template-columns: repeat(12,1fr);
    gap: 10px;
}


footer{
    grid-column: 1/-1 ;
    background-color: pink;
    color: white;
    text-align: center;
    height: 50%;
    display: flex;
    justify-content: center;
    

}

.wrapper{
    grid-column: 1/-1;
    display: flex;
    justify-content: center;

    
    
}

header{
    background-color: pink;

}
   
header h1{
    grid-column: 1/-1;
    background-color: pink;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    color: white;

}



.menu{
    grid-column: 4 /10;
    display: flex;
    justify-content: center; /*centraliza o menu*/
    
}

.foto{
    width: 40%;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    margin: 0;
    padding: 0;
}

.principal{
    width: 60%;
    display: flex;
    text-align: left;
    padding-left: 30px;
    padding-right: 30px;
    align-items: center;
    font-size: 120%;
}


ul{
    list-style-type: none;
    color: black;
}
a,
a:link {
    text-decoration: none;
    padding: 8px 16px;
    border: solid #506e6a 1px;
}
li{
    float: left;
}
a:hover{
    background-color: gray;
    color: white;
}
h1{
    color: grey;
}
.minha_foto2{
    width: 70%;
    border-radius: 10%;

    
    
}
.social-media {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
}

.social-media li {
    margin: 0 10px;
}
.contact-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
}

.contact-form table {
    margin: 0 auto;
}

.projeto{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
}



@media only screen and(max-width: 767px){
    .wrapper{
        flex-direction: column;

    }
}
